//다른 scss 파일에서 사용되는 sass 변수 및 mixin

//COLOR 변수
$header-color: rgb(211, 98, 61);
$header-bg-color: rgb(242, 196, 181);
$checkbox-bg-color: rgb(211, 98, 61);

$app-h3-color: rgb(211, 98, 61);
//input
$input-bolder-color: rgb(211, 98, 61);
// $input-add-bg-color-opacity: rgba(243, 218, 178, 0.638);
$input-add-bg-color-opacity: rgba(242, 216, 181, 0.689);
$input-todo-bg-color-opacity: rgba(255, 255, 255, 0.638);
