//App.js에 적용할 scss
@import "./_utils.scss";
@import "~include-media/dist/include-media";
@import url("//fonts.googleapis.com/earlyaccess/jejugothic.css");
* {
  margin: 0;
  padding: 0;
  font-family: "Jeju Gothic";
}
// body {

//  }
.App {
  width: 100vw;
  height: 100vh; //client/public  client/public/plan_bg_img.jpeg
  background-image: url("~/public/plan_bg_img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    color: $app-h3-color;
  }
}
// @include media("<668px") {
//   .App {
//     background-size: contain;
//   }
// }
